---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About Me</h2>
		<span class="mb-6 ml-2 h-1 w-20 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2 text-xl">
			I am a student at UT Austin studying Computer Science. 
			I am interested in web development and design along with machine learning.
		</p>
	</div>	
</section>
