<footer data-testid="footer" class="p-6 text-center text-sm text-black dark:text-white">
	<p>
		Copyright © {new Date().getFullYear()}. All rights reserved. Made by <a
			href="https://github.com/neelgun17/"
			target="_blank"
			rel="noopener"
		>
			<span class="text-orange"> Neel Gundlapally</span>
		</a>
		Website design from Veranika Kasparevych <a href="https://github.com/veranikabarel" target="_blank" rel="noopener"
			><span class="text-orange"></span></a
		>
		<!-- !Fix this -->
	</p>
</footer>
