---
import { Icon } from 'astro-icon';
---

<a href="https://github.com/neelgun17/" target="_blank" rel="noopener" aria-label="github">
	<Icon
		class="h-6 text-neutral-400 transition-colors hover:text-accent md:h-8"
		name="simple-icons:github"
	/>
</a>
<a href="https://www.linkedin.com/in/neel-gundlapally/" target="_blank" rel="noopener" aria-label="linkedin">
	<Icon
		class="h-6 text-neutral-400 transition-colors hover:text-accent md:h-8"
		name="simple-icons:linkedin"
	/>
</a>
<a href="mailto:neelgundlapally@utexas.edu" target="_blank" rel="noopener" aria-label="email">
	<Icon
		class="h-6 text-neutral-400 transition-colors hover:text-accent md:h-8"
		name="simple-icons:gmail"
	/>
</a>
